# GLOBAL

deployment_name = "demo"

# TAGS 
application_dns = "www.example.com"
application = "www"
environment = "dev"
owner = "example"
group = "example"
costcenter = "cc4353"
purpose = "public"

public_ssh_key_path =                   # ex. "~/.ssh/my-terraform-key.pem.pub"
ssh_key_name =                          # ex. "my-terraform-key"
site_ssl_cert = "../../../../ssl/website.crt"
site_ssl_key  = "../../../../ssl/website.key"

# restricted_src_address = "0.0.0.0/0"

# WARNING: Passwords are used in Azure VMs & BIG-IPs
# Must adhere to 
# https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq
# https://support.f5.com/csp/article/K2873
# Additionally, as we leverage some shell scripts, must also not contain a few bash special character "$" or spaces. 
admin_username = "custom-admin"
admin_password =                       # ex. "ExAMple@P1234" 


# SYSTEM
# dns_server = "8.8.8.8"
# ntp_server = "0.us.pool.ntp.org"
# timezone = "UTC" 


### NETWORK #### 
# vnet_cidr_block = "10.0.0.0/16"

# a_management_cidr_block = "10.0.0.0/24"
# a_public_cidr_block = "10.0.1.0/24"
# a_private_cidr_block = "10.0.2.0/24"
# a_application_cidr_block = "10.0.3.0/24"


#### APPLICATION #### 

# docker_image = "f5devcentral/f5-demo-app:latest"
# google_docker_image = "f5devcentral/f5-demo-app:google"

# AUTO SCALE
# app_scale_min                     = 1 
# app_scale_max                     = 3 
# app_scale_desired                 = 2 
# app_scale_down_bytes_threshold    = "10000" 
# app_scale_up_bytes_threshold      = "35000" 
app_notification_email             =              # ex. "user@example.com"
# app_instance_name_prefix           = "appvm" 

#### PROXY #### 

# VIRTUAL SERVICE
# vs_dns_name = "www.example.com"
# vs_port = "443"

# SERVICE DISCOVERY
# pool_member_port = "80"
# pool_name = "www.example.com"
# pool_tag_key = "Name" 
# pool_tag_value = "dev-www-instance"

# pool_azure_resource_group = "app.example.com"
pool_azure_subscription_id = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
pool_azure_tenant_id = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
pool_azure_client_id = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
pool_azure_sp_secret = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"


######## PROVIDER SPECIFIC #######

### PLACEMENT

# AZURE
# azure_region = "West US" 
# azure_location = "westus"

##### NETWORK

# vnet_azure_resource_group  = "network.example.com" 


##### APP:

# app_azure_resource_group = "app.example.com"
# app_azure_instance_type = "Standard_A0"
# app_instance_name_prefix = "appvm"


### PROXY 

# proxy_azure_resource_group  = "proxy.example.com" 
# proxy_azure_instance_type   = "Standard_D3_v2" 
# proxy_azure_image_name      = "f5-bigip-virtual-edition-best-byol"

# LICENSE   
azure_proxy_license_key_1    =           # ex. "ABJDN-WFYWA-AMCCT-LCVMY-HQYFTDF"
 
