# GLOBAL

deployment_name = "demo"

# TAGS 
application_dns = "www.example.com"
application = "www"
environment = "dev"
owner = "example"
group = "example"
costcenter = "cc4353"
purpose = "public"

## PLACEMENT
region = "us-west-2"
availability_zones = "us-west-2a,us-west-2b"

vpc_id =                                # ex. "vpc-e92ceb8f"
subnet_ids =                            # ex. "subnet-a1ac87e8,subnet-f7051590"

public_ssh_key_path =                   # ex. "~/.ssh/my-terraform-key.pem.pub"
ssh_key_name =                          # ex. "my-terraform-key"
site_ssl_cert = "../../../../../ssl/website.crt"
site_ssl_key = "../../../../../ssl/website.key"

restricted_src_address = "0.0.0.0/0"

admin_username = "custom-admin"
# WARNING: Passwords not used in AWS
# If used must adhere to 
# https://support.f5.com/csp/article/K2873
# Additionally, as we leverage some shell scripts, must also not contain a few bash special character "$" or spaces. 
# admin_password =                       # ex. "ExAMple@P1234"  


# SYSTEM
# dns_server = "8.8.8.8"
# ntp_server = "0.us.pool.ntp.org"
# timezone = "UTC" 


# SERVICE
# vs_dns_name = "www.example.com"
vs_port = "443"

# SERVICE DISCOVERY
pool_member_port = "80"
pool_name = "www.example.com"
# pool_tag_key = "Name" 
# pool_tag_value = "dev-www-instance"


# AUTOSCALE
thoughput = "25Mbps"
notification_email = "user@example.com"